<div class="well">
  <h2>Tippspiel zur Bundesliga-Saison 2014/2015</h2>
  <p>Tippen Sie mit!<br>

Sie wissen alles besser? Zeigen Sie es. Einfach einloggen und mittippen und einen von vielen tollen Preisen gewinnen!
</p>
</div>