<div class="col-md-12">
  <div class="well">
    <h2>REGELN / HILFE</h2>
    <div class="panel panel-primary">
    <div class="panel-heading"><h4>Wertung</h4></div>
    <div class="panel-body">
      <p><b>Wie wird gewertet?</b></p>
      <ul>
        <li>Ergebnis richtig : 3 Punkte</li>
        <li>Tordifferenz richtig : 2 Punkte</li>
        <li>Tendenz richtig (Sieg, Unentschieden, Niederlage): 1 Punkt</li>
        <li>Ergebnis und Tendenz falsch : 0 Punkte</li>
      </ul>
      <p><b>Beispiel:</b><br>

        FC Schalke 04 gewinnt gegen Bayern München 2:1. <br>
        <ul>
          <li>Der Tipp 2:1 bringt volle 3 Punkte</li>
          <li>die Tipps 3:2, 1:0, ... 2 Punkte</li>
          <li>der Tipp 2:0 noch 1 Punkt</li>
          <li>für ein 1:1 oder ein 1:2 würden keine Punkte vergeben</li>
        </ul>
      </p>
      <p>
        <b>Wann wird gewertet?</b><br>
        Bis kurz vor dem vor Anpfiff können Sie noch Ihre Tipps abgeben und überarbeiten. Am Ende der Tipprunde werden die Ergebnisse gewertet und die Ranglisten aktualisiert.
      </p>
    </div>
  </div>

<div class="panel panel-primary">
    <div class="panel-heading"><h4>TippTeams</h4></div>
    <div class="panel-body">
      <p><b>Erklärung</b></p>

      <p>In einem TippTeam gehen dann nur die Punkte der Mitglieder in die TippTeam-Wertung ein. Kämpft gegeneinander um die Punkte! <br>Gründen Sie selbst ein TippTeam oder treten Sie dem TippTeam Ihrer Freunde bei. <br>Sorgen Sie mit einem Passwort dafür, dass nur Ihre besten Freunde Ihrem TippTeam beitreten. <br>Ein TippTeam reicht Ihnen nicht? - Kein Problem, denn Sie können an mehreren Ligen teilnehmen. <br>Erfahren Sie in der TippTeam-Ranglisten, wie gut Sie wirklich sind.
      </p>
      <p>
        <b>Wie wird gewertet?</b><br>
        Die Rangliste eines TippTeams erfolgt durch Vergleich der Punkte der einzelnen Mitglieder. 
        Einsehbar auf den Ranglisten-Seiten. Können Sie Ihre Freunde schlagen?
      </p>
    </div>
  </div>


<div class="panel panel-primary">
    <div class="panel-heading"><h4>Ranglisten</h4></div>
    <div class="panel-body">
      <p><b>Gesamtwertung</b></p>

      <p>Übersicht der erfolgreichsten Spieler aller bisherigen Spieltage.<br>
      </p>
      <p><b>TippTeams Saison</b></p>
      <p>Rangliste für die TippTeams, denen Sie beigetreten sind.</p>
      <p><b>Einzelwertung Spieltag</b></p>
      <p>Übersicht der erfolgreichsten Spieler des ausgewählten Spieltages.</p>
      <p><b>Medaillen</b></p>
      <p>Erläuterung <br>
        Jede Saison erhält jeder Spieler eine Medaille, die sein Abschneiden in dieser Saison widerspiegelt
        Beispiel <br>
        Gold - Hat ersten Platz belegt. <br>
        Silber - Hat den zweiten Platz belegt. <br>
        Bronze - Hat den dritten Platz belegt. <br>
        Top 10 - War unter den ersten 10. <br>
      </p>

    </div>
  </div>

<div class="panel panel-primary">

    <div class="panel-heading">
      <h4>Teilnahmebedingungen</h4>
    </div>
    <div class="panel-body">
      <p>
        <b>Teilnahme- und Gewinnberechtigung</b><br>
            
Teilnahmeberechtigt an dem Gewinnspiel und gewinnberechtigt sind nur natürliche Personen, die durch Zustimmung dieser Teilnahmebedingungen ihre Teilnahme an dem Gewinnspiel erklärt haben. Wer falsche E-Mail-Adressen verwendet oder mehrere Konten führt, wird von Teilnahme und Gewinnspiel ausgeschlossen.
      </p>
        <p><b>Gegenstand, Ablauf und Modus des Gewinnspiels</b><br>
            
Das Gewinnspiel wird anhand der erreichten Tippergebnisse unter allen gewinnberechtigten Teilnehmern des Gewinnspiels ausgewertet. Der Gewinn ist nicht übertragbar. Eine Auszahlung in bar ist ausgeschlossen.
      </p>
        <p><b>Gewinnmitteilung</b><br>
Der Gewinner wird per E-Mail benachrichtigt.
      </p>
        <p><b>Datenschutz</b><br>
            
Die E-Mail-Adresse wird ausschließlich genutzt um den Gewinner benachrichtigen zu können. Ihre personenbezogenen Daten weder entgeltlich noch unentgeltlich an Dritte weitergeben.
      </p>
        <p><b>Rechtsweg</b><br>
            
Der Rechtsweg ist ausgeschlossen.
         
      </p>
    </div>
  </div>

</div>
</div>
