<div class="col-md-12">
  <div class="well"><h2>REGELN / HILFE</h2>
<h4>Wertung</h4>
<p>Wie wird gewertet?
Ergebnis richtig : 3 Punkte
Tordifferenz richtig : 2 Punkte
Tendenz richtig (Sieg, Unentschieden, Niederlage): 1 Punkt
Ergebnis und Tendenz falsch : 0 Punkte
Beispiel
FC Schalke 04 gewinnt gegen Bayern München 2:1. Der Tipp 2:1 bringt volle 3 Punkte, die Tipps 3:2, 1:0, ... 2 Punkte und der Tipp 2:0 noch 1 Punkt - für ein 1:1 oder ein 1:2 würden keine Punkte vergeben.
Wann wird gewertet?
Bis kurz vor dem vor Anpfiff können Sie noch Ihre Tipps abgeben und überarbeiten. Am Ende der Tipprunde werden die Ergebnisse gewertet und die Ranglisten aktualisiert.
</p>
<h4>TippTeams</h4>
<p>Erklärung

In einem TippTeam gehen dann die Punkte der Mitglieder in die TippTeam-Wertung ein. Kämpft gemeinsam um die Punkte! Gründen Sie selbst ein TippTeam oder treten Sie dem TippTeam Ihrer Freunde bei. Sorgen Sie mit einem Passwort dafür, dass nur Ihre besten Freunde Ihrem TippTeam beitreten. Ein TippTeam reicht Ihnen nicht? - Kein Problem, denn Sie können an mehreren Ligen teilnehmen. Erfahren Sie in den TippTeam-Tabellen, wie gut Sie wirklich als Team sind.
Wie wird gewertet
Die Wertung eines TippTeams erfolgt durch Mittelwertbildung der Punkte der einzelnen Mitglieder. Um Nachteile durch große Mitgliederzahlen auszugleichen, wird je 5 Mitspieler das schlechteste Ergebnis automatisch gestrichen.
Beispiel

Das TippTeam "Super-11" hat 6 Mitglieder und bekommt daher eine Streichoption.
Punkte Mitglied A   17
Punkte Mitglied B   12
Punkte Mitglied C   15
Punkte Mitglied D   9
Punkte Mitglied E   3 (gestrichen)
Punkte Mitglied F   12
Gesamtpunktzahl = (17 + 12 + 15 + 9 + 12) : 5   = 13

Nachkommastellen werden kaufmännisch gerundet.
Fan-TippTeam
Bei der Gründung eines TippTeam können Sie zwischen einem offenen TippTeam oder einem Fan-TippTeam wählen. Dem Fan-TippTeam dürfen nur User beitreten, die denselben Lieblingsverein haben.</p>
<h4>Ranglisten</h4>
<p>Einzelwertung Saison
Übersicht der erfolgreichsten Spieler aller bisherigen Spieltage.
TippTeams Saison
Übersicht der erfolgreichsten TippTeams aller bisheriger Spieltage. Aufgelistet werden alle TippTeams, die aus mindestens 3 Spielern bestehen.
Einzelwertung Spieltag
Übersicht der erfolgreichsten Spieler des ausgewählten Spieltages.
TippTeams Spieltag
Übersicht der erfolgreichsten Tippgemeinschaften des ausgewählten Spieltages. Aufgelistet werden alle Tippgemeinschaften, die aus mindestens 3 Spielern bestehen.
Medaillen
Erläuterung
Jede Saison erhält jeder Spieler eine Medaille, die sein Abschneiden in dieser Saison widerspiegelt
Beispiel
Gold - Hat ersten Platz belegt.
Silber - Hat den zweiten Platz belegt.
Bronze - Hat den dritten Platz belegt.
Top 10 - War unter den ersten 10.
Top 100 - War unter den ersten 100.
Top 1000 - War unter den ersten 1000.
</p>
<h4>Teilnahmebedingungen</h4>

<p>1. Gewinnspiel der DFL Deutsche Fußball Liga GmbH
Die DFL Deutsche Fußball Liga GmbH, Guiollettstraße 44-46, 60325 Frankfurt am Main ("DFL") veranstaltet ein Gewinnspiel. Für die Teilnahme an dem Gewinnspiel gelten die nachfolgenden Teilnahmebedingungen, die der Teilnehmer des Tippspiels rechtsverbindlich anerkennt.

2. Teilnahme- und Gewinnberechtigung
Teilnahmeberechtigt an dem Gewinnspiel und gewinnberechtigt sind nur natürliche Personen, die durch Zustimmung dieser Teilnahmebedingungen ihre Teilnahme an dem Gewinnspiel erklärt haben. Mitarbeiter der DFL sowie verbundener Unternehmen und deren Angehörige sind von der Teilnahme ausgeschlossen.

3. Gegenstand, Ablauf und Modus des Gewinnspiels
Das Gewinnspiel wird anhand der erreichten Tippergebnisse unter allen Teilnehmern des Gewinnspiels ausgewertet. Der Gewinn ist nicht übertragbar. Eine Auszahlung in bar ist ausgeschlossen.

4. Gewinnmitteilung
Der Gewinner wird per E-Mail benachrichtigt.

5. Datenschutz
Die DFL wird die von dem Teilnehmer zur Verfügung gestellten personenbezogenen Daten (Name, Anschrift, Telekommunikationsdaten) ausschließlich zum Zweck der technischen Administration der Webseite bundesliga.de und zur Abwicklung des Gewinnspiels speichern, verarbeiten und nutzen. Die DFL wird Ihre personenbezogenen Daten weder entgeltlich noch unentgeltlich an Dritte weitergeben. Nur bei Vorliegen Ihrer - jederzeit widerrufbaren - Einwilligung wird die DFL Ihre personenbezogenen Daten nutzen, um Ihnen über die Bereitstellung der Services hinaus Neuigkeiten über die Bundesliga und die DFL zukommen zu lassen. Weiter gelten die allgemeinen Datenschutzbedingungen der DFL.

6. Haftung
Eine Haftung der DFL im Zusammenhang mit der Durchführung des Gewinnspiels gleich aus welchem Rechtsgrund besteht nur, wenn ein Schaden durch schuldhafte Verletzung einer vertragswesentlichen Pflicht in einer das Erreichen des Vertragszwecks gefährdenden Weise verursacht wurde oder auf Vorsatz oder grobe Fahrlässigkeit zurückzuführen ist. Haftet die DFL für die Verletzung einer vertragswesentlichen Pflicht, ohne dass Vorsatz oder grobe Fahrlässigkeit vorliegen, so ist die Haftung auf den Umfang begrenzt, mit dessen Entstehen die DFL bei Vertragsschluss aufgrund der ihr zu diesem Zeitpunkt bekannten Sachlage typischerweise rechnen musste. Die vorstehenden Haftungsbeschränkungen bzw. -ausschlüsse gelten nicht in Fällen, in denen eine Haftung gesetzlich zwingend vorgesehen ist, insbesondere bei schuldhafter Verletzung von Leben, Körper und Gesundheit oder für Haftungsansprüche nach dem Produkthaftungsgesetz. Soweit die Haftung der DFL ausgeschlossen oder beschränkt ist, gilt dies auch für die persönliche Haftung von Organen, Arbeitnehmern, Vertretern und Erfüllungsgehilfen, die die DFL bei der Durchführung des Gewinnspiels einsetzt oder beauftragt.

7. Rechtsweg
Der Rechtsweg ist ausgeschlossen.
</p>
</div>
</div>
