<ul class="nav nav-pills" role="tablist">
  <li><%= link_to "Gesamtwertung", rankings_overall_show_path(1) %></li>
  <li><%= link_to "Spieltagswertungen", rankings_matchday_show_path(0) %></li>
  <li><%= link_to "Tipp-Gruppen", rankings_tipp_group_show_path(0) %></li>

</ul>