<div class="col-md-8">
  <div class="well">
    <h1>Tipp-Gruppe bearbeiten</h1>

    <%= render 'form' %>

    <%= link_to 'Anzeigen', @tipp_group %> |
    <%= link_to 'Zurück', tipp_groups_path %>
  </div>
</div>
