<p><h4>Hallo <%= @email %>!</h4></p>

<p>Bitte bestätigen Sie Ihr Konto zum Bundesliga Tippspiel 2014/15 indem Sie auf den folgenden Link klicken:</p>

<p><h4><%= link_to 'Konto bestätigen', confirmation_url(@resource, confirmation_token: @token) %></h4></p>

<p>Falls Sie sich nicht registrieren möchten, ignorieren Sie die E-Mail einfach.</p>